<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= title %>
    </title>
    <% include partials/head %>
  </head>
  <body>
  	<%include partials/nav%>
  	<div class="container d-flex flex-column">
	    <h1><%= title %>
	    	<small class="text-muted">Help me GOD</small>
	    </h1>
	    <span>Hello</span>
    </div>
    <p>Welcome to <%= title %></p>
  </body>
</html>
